/**:not(body):not(html) {
  box-sizing:border-box;
  border:1px dashed #000;
}*/

.navbar-brand{
  font-size: 30px;
  border: 1px solid black;
}

#navbar-container{
  background-color: rgba(255,255,255,0.15);
  border-color: black;
  text-decoration: none;
  font-size: 23px;
  color: black;
}

a:link {
  color: black;
    text-decoration: none;
}

a:visited {
  color: black;
    text-decoration: none;
}

a:hover {
  color: black;
    text-decoration: underline;
}

a:active {
  color: black;
    text-decoration: underline;
}

#img {
  max-width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;

}
