/**:not(body):not(html) {
  box-sizing:border-box;
  border:1px dashed #000;
}*/

.navbar-brand{
  font-size: 30px;
  padding-left: 0.5%;
  padding-right: 0.5%;
  border: 2px solid #CA9664;
}

#navbar-container{
  font-family: monospace;
  background-color: rgba(255,255,255,0.15);
  border-color: black;
  text-decoration: none;
  font-size: 32px;
  color: black;

}
#navbarNav{
  position: sticky;
  text-align: right;
}

a:link {
  color: black;
    text-decoration: none;
}

a:visited {
  color: black;
    text-decoration: none;
}

a:hover {
  color: black;
    text-decoration: underline;
}

a:active {
  color: black;
    text-decoration: underline;
}

#img {
  max-width: 100%;
  position: fixed;
  opacity: 0.7;
  top: 0;
  left: 0;
  z-index: -1;

}
.row{
  margin:5%;
  height: 300px;
  text-align: center;
  vertical-align: center;
  display: flex;
}
#profile-pic{
  margin-left: 10%;
  /*position: relative;*/
  width: 200px;
  height: 200px;
  overflow: hidden;
  border-radius: 50%;
  float:left;
  display:inline-block;
}

#profile-pic img{
  width: 100%;
}

.hero-page{
  font-family: monospace;
  text-align: left;
  text-decoration-color: black;
  margin-left: 5%;
  height: 200px;
  vertical-align: inherit;
  width: 60%;
  /*background-color: rgba(255,255,255);*/
}

.hero-page h1 {
  font-size: 32px;
  color: #4185d7;
}
.hero-page h3{
  font-size: 24px;
  color: grey;
  line-height: 150%;
}
.hero-page h5{
  font-size: 18px;
  color: black;
  line-height: 150%;

}
.umbrella {
  color: grey;
}

.ruby {
  color: #B02B2C;
  font-size: 25px;
}

.html {
  color: #E04423;
  font-size: 25px;
}

.css {
  color: #0020BB;
  font-size: 25px;
}


.react {
  color: #31B8D2;
  font-size: 25px;
}

.angular {
  color: red;
  font-size: 25px;
}

.js {
  color: #FF7F00;
  font-size: 25px;
}

.row about{
  background-color: rgba(255,255,255,0.15);
}

.feature-tile2 {
    background: black;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    color: #fff;
    font-size: 13px;
    font-weight: 600;
    padding: 2px 10px;
    position: absolute;
    top: 46px;
    right: 17%;
}

.col-md-6{
border: 2px solid black;
}

.tech-logo{
  width: 80px;
  display: inline-block;
}
.d-flex{
  background-color: rgba(0,0,0,0.8);
  padding-top: 2%;
  color: white;
  font-family: monospace;
}
h3{
  font-family: monospace;
  text-align: center;
}
ul {
  list-style: none;
  padding: 0;
  font-size: 14px;
}
ul h4{
  font-size: 18px;
}
.p-2{
  margin-left: 2%;
}
