
body {
  z-index:0;
  position: relative;
}

#navbar-container{
  font-family: monospace;
  background-color: white;
  border-color: black;
  text-decoration: none;
  font-size: 32px;
  color: rgb(20,26,32);
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index:100;
}

#navbarNav{
  position: sticky;
  text-align: right;
}

a:link {
  color: rgb(20,26,32);
    text-decoration: none;
}

a:visited {
  color: rgb(20,26,32);
    text-decoration: none;
}

a:hover {
  color: rgb(20,26,32);
    text-decoration: underline;
}

a:active {
  color: rgb(20,26,32);
    text-decoration: underline;
}

.about {
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 14%;
  padding-bottom: 14%;
  /*margin-bottom: 2%;*/
  background-color: rgba(20,26,32,1);
}

#profile-pic{
  width: 250px;
  height: 250px;
  overflow: hidden;
  border-radius: 50%;
  float:left;
  display:inline-block;
}

#profile-pic img{
  width: 100%;
}

.hero-page{
  font-family: monospace;
  color: white;
  margin-left: 5%;
  text-align: justify;
  text-decoration-color: rgb(20,26,32);
  vertical-align: inherit;
  width: 60%;
}

.hero-page h1 {
  font-size: 32px;
  color: #0EBFE9;
}
.hero-page h3{
  font-size: 22px;
  line-height: 150%;
}
.hero-page h5{
  font-size: 18px;
  line-height: 150%;
}


.row about{
  background-color: rgba(20,26,32,1);
}

.footer-social-icons {
    width: 300px;
    display: block;
    margin: 0 auto;
    padding-top: 5%;
}
.footer-social-icons img{
  width: 45px;
  height: 45px;
  border: 0pt none;
}


#skills {
  background-color: rgba(20,26,32,1);
  padding-top: 2%;
  padding-bottom: 2%;
  margin: 0;
  color: white;
  font-family: monospace;
}

.skills h3{
  font-family: monospace;
  text-align: center;
  margin: 2.5%;
}

.d-flex ul {
  list-style: none;
  padding: 0;
  font-size: 14px;
}
.d-flex ul h4{
  font-size: 18px;
}
.p-2{
  margin:0%;
}

.d-flex h4{
  text-align: center;
}

#projects-section h3{
  padding-top: 3%;
  font-family: monospace;
  text-align: center;
}

#projects {
  margin-top: 2%;
  margin-bottom: 2%;
  padding: 2%;
  align-items: center;
  background-color: rgba(20,26,32,1);
}
.screenshot{
  /*border: 1px solid rgba(0,0,0,0);*/
  float: left;
  width:  500px;
  height: auto;
  background-position: 50% 50%;
  background-repeat:   no-repeat;
  background-size:     cover;
  box-shadow: 0 3px 6px rgba(255,255,255,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
.screenshot:hover{
  box-shadow: 0 14px 28px rgba(0,0,0,0.75), 0 10px 10px rgba(0,0,0,0.78);
}
.card-columns{
  margin-top: 2%;
  margin-bottom: 2%;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 2%;
  padding-bottom: 2%;

  z-index: -1;
  background-color: rgba(20,26,32,1);

}
.card{
  /*border: 1px solid rgba(0,0,0,0);*/
  width:  500px;
  height: auto;
  box-shadow: 0 3px 6px rgba(255,255,255,0.16), 0 3px 6px rgba(0,0,0,0.23);
  font-family: monospace;
  /*z-index: 0;*/
  /*position: fixed;*/
}

.food a{
  font-size: 18px;
  line-height: 150%;
  color: white;
  text-decoration: underline;
}

footer{
  font-family: monospace;
  text-align: center;
  font-size: 18px;
  font-weight: 500;
  padding-bottom: 2.5%;
}



@media (min-width: 992px) {
  .navbar-brand{
    font-size: 30px;
    padding-left: 0.5%;
    padding-right: 0.5%;
    border: 2px solid #CA9664;
  }
}
