/**:not(body):not(html) {
  box-sizing:border-box;
  border:1px dashed #000;
}*/

body {
  position: relative;
}

.navbar-brand{
  font-size: 30px;
  padding-left: 0.5%;
  padding-right: 0.5%;
  border: 2px solid #CA9664;
}

#navbar-container{
  font-family: monospace;
  background-color: rgba(255,255,255,0.15);
  border-color: black;
  text-decoration: none;
  font-size: 32px;
  color: black;

}
#navbarNav{
  position: sticky;
  text-align: right;
}

a:link {
  color: black;
    text-decoration: none;
}

a:visited {
  color: black;
    text-decoration: none;
}

a:hover {
  color: black;
    text-decoration: underline;
}

a:active {
  color: black;
    text-decoration: underline;
}

.about {
  padding: 5%;
  margin-top: 2%;
  margin-bottom: 2%;
  background-color: rgba(0,0,0,0.8);
}

#profile-pic{
  width: 250px;
  height: 250px;
  overflow: hidden;
  border-radius: 50%;
  float:left;
  display:inline-block;
}

#profile-pic img{
  width: 100%;
}

.hero-page{
  font-family: monospace;
  color: white;
  margin-left: 5%;
  text-align: justify;
  text-decoration-color: black;
  vertical-align: inherit;
  width: 60%;
}

.hero-page h1 {
  font-size: 32px;
  color: #4185d7;
}
.hero-page h3{
  font-size: 22px;
  line-height: 150%;
}
.hero-page h5{
  font-size: 18px;
  line-height: 150%;

}
/*.umbrella {
  color: grey;
}*/

.ruby {
  color: #B02B2C;
  font-size: 25px;
}

.html {
  color: #E04423;
  font-size: 25px;
}

.css {
  color: #0020BB;
  font-size: 25px;
}


.react {
  color: #31B8D2;
  font-size: 25px;
}

.angular {
  color: red;
  font-size: 25px;
}

.js {
  color: #FF7F00;
  font-size: 25px;
}

.row about{
  background-color: rgba(255,255,255,0.15);
}

.feature-tile2 {
    background: black;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    color: #fff;
    font-size: 13px;
    font-weight: 600;
    padding: 2px 10px;
    position: absolute;
    top: 46px;
    right: 17%;
}

#skills{
  background-color: rgba(0,0,0,0.8);
  padding: 0;
  margin: 0;
  color: white;
  font-family: monospace;
}

.skills h3{
  font-family: monospace;
  text-align: center;
  margin: 2.5%;
}

.projects h3{
  padding-top: 3%;
  font-family: monospace;
  text-align: center;
}

.d-flex ul {
  list-style: none;
  padding: 0;
  font-size: 14px;
}
.d-flex ul h4{
  font-size: 18px;
}
.p-2{
  margin:0%;
}

.d-flex h4{
  text-align: center;
}
#projects {
  margin-top: 2%;
  margin-bottom: 2%;
  padding: 2%;
  align-items: center;
  background-color: rgba(0,0,0,0.8);
}
.screenshot{
  /*border: 1px solid rgba(0,0,0,0);*/
  float: left;
  width:  500px;
  height: auto;
  background-position: 50% 50%;
  background-repeat:   no-repeat;
  background-size:     cover;
  box-shadow: 0 3px 6px rgba(255,255,255,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
.screenshot:hover{
  box-shadow: 0 14px 28px rgba(0,0,0,0.75), 0 10px 10px rgba(0,0,0,0.78);
}
